.feature-matrix {
	font-family: sans-serif;

	table {
		border-collapse: collapse;
		border: 1px solid #acacac;

		th {
			background: darken(white, 8%);
		}

		.filler {
			background: none;
			border-top: none;
			border-bottom: none;
			width: 15px;
		}

		th, td {
			border: 1px solid #acacac;
			border-spacing: 0;
		}

		th.feature {

		}

		th.browser {
			img {
				width: 32px;
				height: 32px;
				padding-bottom: 3px;
			}

			padding: 5px 10px;

			&.yours {
				border: 2px solid #444;
				border-bottom: 1px solid #acacac;
			}
		}

		th.version {
			padding: 5px;
			font-weight: normal;

			&.yours {
				border: 2px solid #444;
				border-top: 1px solid #acacac;
				border-bottom: 1px solid #acacac;
			}
		}

		th.browser, th.version, td.support {
			text-align: center;
		}

		td.feature {
			padding: 5px;
		}

		td.support {
			padding: 5px 8px;
			border: none;

			&.supported {
				background: mix(white, #39b54a, 20%);
			}

			&.partial {
				background: mix(white, #c7c933, 20%);
			}

			&.unsupported {
				background: mix(white, #c44230, 20%);
			}

			&.unknown {
				background: #EEEEEE;
			}

			&.yours {
				border: 2px solid #444;
				border-top: none;
				border-bottom: none;

				&.last {
					border-bottom: 2px solid #444;
				}
			}
		}
	}
	
	div.conditions {

	}
}
