.feature-matrix {
	font-family: sans-serif;

	table {
		border-collapse: collapse;
		border: 1px solid #bbb;

		th, td {
			border: 1px solid #bbb;
			border-spacing: 0;
		}

		th.feature {

		}

		th.browser {
			img {
				width: 32px;
				height: 32px;
				padding-bottom: 3px;
			}

			padding: 5px 10px;
		}

		th.version {
			padding: 5px;
			font-weight: normal;
		}

		th.browser, th.version, td.support {
			text-align: center;
		}

		td.feature {
			padding: 5px;
		}

		td.support {
			padding: 5px 8px;
			border: none;

			&.supported {
				background: mix(white, #39b54a, 20%);
			}

			&.partial {
				background: mix(white, #c7c933, 20%);
			}

			&.unsupported {
				background: mix(white, #c44230, 20%);
			}

			&.unknown {
				background: #EEEEEE;
			}
		}
	}
	
	div.conditions {

	}
}
